
<div id="floating-panel">
    <b>Start: </b>
    <select id="start">
    <option value="chicago, il">Chicago</option>
    <option value="st louis, mo">St Louis</option>
    <option value="joplin, mo">Joplin, MO</option>
    <option value="oklahoma city, ok">Oklahoma City</option>
    <option value="amarillo, tx">Amarillo</option>
    <option value="gallup, nm">Gallup, NM</option>
    <option value="flagstaff, az">Flagstaff, AZ</option>
    <option value="winona, az">Winona</option>
    <option value="kingman, az">Kingman</option>
    <option value="barstow, ca">Barstow</option>
    <option value="san bernardino, ca">San Bernardino</option>
    <option value="los angeles, ca">Los Angeles</option>
    </select>
    <b>End: </b>
    <select id="end">
    <option value="chicago, il">Chicago</option>
    <option value="st louis, mo">St Louis</option>
    <option value="joplin, mo">Joplin, MO</option>
    <option value="oklahoma city, ok">Oklahoma City</option>
    <option value="amarillo, tx">Amarillo</option>
    <option value="gallup, nm">Gallup, NM</option>
    <option value="flagstaff, az">Flagstaff, AZ</option>
    <option value="winona, az">Winona</option>
    <option value="kingman, az">Kingman</option>
    <option value="barstow, ca">Barstow</option>
    <option value="san bernardino, ca">San Bernardino</option>
    <option value="los angeles, ca">Los Angeles</option>
    </select>
</div>

<div style="margin-top: 5%;">
    <h2 class="text-warning text-center mb-5">Suivez le chemin !</h2>
<div id="map"></div>
<div class="row mt-5 text-center ">
    <div class="col-lg-6">
        <button
        type="button"
        class="btn btn-warning"
        data-mdb-toggle="modal"
        data-mdb-target="#exampleModal"
      >
        Recevoir mon code d'accés
      </button>
    </div>
<div class="col-lg-6">
<a class="btn bg-success text-white" [routerLink]="['/accueil']" routerLinkActive="router-link-active" >Appeler le prorprietaire</a>
</div>
</div>
</div>


<!-- Modal -->
<div
  class="modal fade "
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Votre code d'accés</h5>      
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center"><h1>4598563</h1><br>  <p>Entrer ce code sur le pavé numérique de la barriére</p></div>
      
      <div class="modal-footer">
          
        <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">
          Fermer
        </button>
        <button type="button" class="btn btn-success">Merci</button>
      </div>
    </div>
  </div>
</div>